<footer class="text-white text-center">
    <div class="container">
        <div class="row py-5 g-4">
            <div class="col-md-4">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3>AROUND THE WEB</h3>
                <div class="footer-icons d-flex justify-content-center align-content-center">
                    <i class="fa-brands fa-facebook mx-1 p-3 icon"></i>
                    <i class="fa-brands fa-twitter mx-1 p-3 icon"></i>
                    <i class="fa-brands fa-linkedin-in mx-1 p-3 icon"></i>
                    <i class="fa-solid fa-globe mx-1 p-3 icon"></i>
                </div>
            </div>
            <div class="col-md-4">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>

    <div class="Copyright py-3 d-flex justify-content-center align-items-center">
        <p>Copyright © <a target="_blank" href="https://www.linkedin.com/in/sarah-zeid-0614a4262/">SarahZeid</a> 2024</p>
    </div>
</footer>
