.navbar{
    background-color: #2C3E50;
    transition: all .5s;
}

.activeBg{
    background-color: #1ABC9C;
}

.navbar-brand,.nav-link{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand{
    font-size: 2rem;
}

.navbar-toggler{
    background-color: #fff;
}

@media (max-width: 768px) {
    .navbar-brand{
        font-size: 1.5rem;
    }
}