<nav class="navbar navbar-expand-lg sticky-top" [class.py-4]="scrollTop < 50">
    <div class="container">
        <a class="navbar-brand" routerLink="home">START FRAMEWOEK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActive="activeBg rounded-2 w-auto d-inline-block p-2">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="portfolio" routerLinkActive="activeBg rounded-2 w-auto d-inline-block p-2">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActive="activeBg rounded-2 w-auto d-inline-block p-2">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>