<main>
    <div class="contact-page text-center vh-100">
        <div class="container">
            <h2 class="display-6 fw-bold text-uppercase pt-3">contact component</h2>

            <div class="starLine d-flex justify-content-center align-items-center my-3">
                <div class="line"></div>
                <i class="fa-solid fa-star mx-3"></i>
                <div class="line"></div>
            </div>

            <div class="contact-form w-50 m-auto pt-3 ">
                <form action="">
                    <input class="form-control my-5" placeholder="userName" type="text">
                    <input class="form-control my-5" placeholder="userAge" type="number">
                    <input class="form-control my-5" placeholder="userEmail" type="email">
                    <input class="form-control my-5" placeholder="userPassword" type="password">
                    <button class="btn text-white d-block me-auto" type="button">Send Massage</button>
                </form>
            </div>
        </div>
    </div>
</main>