<main>
    <div class="portfolio-page text-center">
        <div class="container">
            <h2 class="display-6 fw-bold text-uppercase pt-3">portfolio component</h2>

            <div class="starLine d-flex justify-content-center align-items-center my-3">
                <div class="line"></div>
                <i class="fa-solid fa-star mx-3"></i>
                <div class="line"></div>
            </div>

            <div class="row g-4 mb-5">
                <div class="col-md-4">
                    <div class="portfolio-img position-relative overflow-hidden rounded-2">
                        <img src="../../assets/images/port1.png" class="w-100" alt="portfolio-img">

                        <div class="portfolio-icon position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                    <img src="../../assets/images/port1.png" alt="portfolio-img">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-img position-relative overflow-hidden rounded-2">
                        <img src="../../assets/images/port2.png" class="w-100" alt="portfolio-img">

                        <div class="portfolio-icon position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                    <img src="../../assets/images/port2.png" alt="portfolio-img">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-img position-relative overflow-hidden rounded-2">
                        <img src="../../assets/images/port3.png" class="w-100" alt="portfolio-img">

                        <div class="portfolio-icon position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#exampleModal3">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                    <img src="../../assets/images/port3.png" alt="portfolio-img">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-img position-relative overflow-hidden rounded-2">
                        <img src="../../assets/images/port1.png" class="w-100" alt="portfolio-img">

                        <div class="portfolio-icon position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#exampleModal4">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                    <img src="../../assets/images/port1.png" alt="portfolio-img">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-img position-relative overflow-hidden rounded-2">
                        <img src="../../assets/images/port2.png" class="w-100" alt="portfolio-img">

                        <div class="portfolio-icon position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#exampleModal5">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                    <img src="../../assets/images/port2.png" alt="portfolio-img">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-img position-relative overflow-hidden rounded-2">
                        <img src="../../assets/images/port3.png" class="w-100" alt="portfolio-img">

                        <div class="portfolio-icon position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center"
                            data-bs-toggle="modal" data-bs-target="#exampleModal6">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                    <img src="../../assets/images/port3.png" alt="portfolio-img">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>