<main>
    <div class="home-page d-flex justify-content-center align-items-center flex-column text-white vh-100">
        <img src="../../assets/images/avataaars.svg"  alt="">

        <div class="home-content d-flex justify-content-center align-items-center flex-column my-5">
            <h2 class="display-6 fw-bold text-uppercase">start Framework</h2>
            <div class="starLine d-flex justify-content-center align-items-center my-3">
                <div class="line bg-white"></div>
                <i class="fa-solid fa-star mx-3"></i>
                <div class="line bg-white"></div>
            </div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</main>